name: Run Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test-assets:
    name: Build & Test on ${{ matrix.os }} (${{ matrix.asset_name_suffix }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            asset_name_suffix: linux-x64
            vse_name: vse
            python-version: "3.13"
          - os: macos-latest
            asset_name_suffix: macos-arm64
            vse_name: vse
            python-version: "3.13"
          - os: windows-latest
            asset_name_suffix: windows-x64
            vse_name: vse.exe
            python-version: "3.13"
          - os: macos-13
            asset_name_suffix: macos-x64
            vse_name: vse
            python-version: "3.13"
          - os: ubuntu-22.04-arm
            asset_name_suffix: linux-arm64
            vse_name: vse
            python-version: "3.13"
          - os: windows-11-arm
            asset_name_suffix: windows-arm64
            vse_name: vse.exe
            python-version: "3.13" # Using a newer version as 3.9 is not available for Win ARM64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build and Test Project
        uses: ./.github/actions/build-and-test
        with:
          python-version: ${{ matrix.python-version }}
